name: CI

on: [push, fork, pull_request, workflow_dispatch]

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@master

  check:
    strategy:
      matrix:
        os: [ubuntu, windows, macos]
      fail-fast: false
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.12
          activate-environment: true
      - name: Install dependencies
        run: |
          uv sync
      - name: Check code quality
        run: |
          ruff format --check --diff
          ruff check --diff
      - uses: oven-sh/setup-bun@v2
      - name: Check types
        run: |
          bunx pyright
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.12
      - name: Build
        run: uv build
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ github.run_id }}
          path: dist

  publish:
    runs-on: ubuntu-latest
    needs: [build, check, typos]
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: ${{ github.run_id }}
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
          print-hash: true
          verbose: true
